/* 
1. làm từ trên xuống dưới
2. làm từ ngoài vào trong
3. từ tổng quan đên chi tiết  */

/* 
1. Vi trí
2. Kích Thước
3. Màu Sắc
4. Kiểu Dáng */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* dung chung */

.clear{
    clear: both;
}

.text-while {
    color: white;
}

.row {
    margin-right: -8px;
    margin-left: -8px;
}
 
.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-second {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.pull-right {
    float: right;
}


/* ---------- */

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* Begin Search */
#header .search-button{
    color: #fff;
    float: right;
    line-height: 46px;
    padding: 0 24px;
    font-size: 15px;
    cursor: pointer;
}

#header .search-button:hover {
    background-color: red;
}
/* End Search */

#header .mobile-menu {
    color: #fff;
    float: right;
    line-height: 46px;
    padding: 0 24px;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

#header .mobile-menu:hover {
    background-color: #ccc;
    color: #000;
}

/* Begin Nav */
.nav {
    display: inline-block;
}

.nav > li {
    position: relative;
    display: inline-block;
}

    /* .nav > li {
        float: left;
    } */

.nav >li >a {
    text-transform: uppercase;
}


.nav li a {
    display: block;
    line-height: 46px;
    text-decoration: none;
    padding: 0 24px;
    color: #ccc
}

.nav .arrow-down {
    font-size: 14px;
}

.nav > li:hover > a,
.nav .subnav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

.nav li:hover .subnav{
    display: block;
}

.nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)   ;
}

.nav .subnav li {
    display: block;
}

.nav .subnav a {
    line-height: 36px;
    color: #000;
    padding: 0 16px;
}

/* End Nav */

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/chicago.jpg') top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
   padding-bottom: 20px;
    font-size: 24px;
}

#slider .text-desc{
    padding-bottom: 48px;
    font-size: 15px;
    text-shadow: 0 0 4px #000;
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px 64px;
}

#content .section-heading{
    font-size: 30px;
    margin: 10px 0;
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-slogan{
    font-size: 15px;
    font-style: italic;
    margin: 15px 0;
    opacity: 0.60;
    text-align: center;
}

#content .section-content{
    font-size: 15px;
    margin: 15px 0;
    text-align: justify;
    line-height: 1.5;
}

#content .member-list{
    margin-top: 32px;
    margin-bottom: 32px;
}


#content .member-item {
    /* display: inline-block; */
    text-align: center;
}

#content .member-name {
    font-size: 15px;
    margin: 15px 0;
}

#content .member-img {
    width: 154px;
    text-align: center;
}

#content .tour-section {
    background-color: #000;
}

.ticket-list li {
    font-size: 15px;
    padding: 11px 16px;
    color: #757575;
    list-style: none;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
    padding: 3px 8px;
    font-size: 15px;
    background-color: rgb(244, 67, 54);
    color: #fff;
    margin-left: 16px;
}

.ticket-list .quantity {
    float: right;
    padding: 0 8px;
    font-size: 15px;
    background-color: #000;
    color: #fff;
    margin-right: 16px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-top: -2px;
}

.tour-places {
    margin-top: 16px;
    padding-bottom: 32px;
}


.tour-places .place-img {
    display: block;
    width: 100%;
}

.tour-places .place-img:hover {
    opacity: 0.6;
}

.tour-places .place-body {
    background-color: #fff;
    padding: 16px 16px;
}

.tour-places .name-place {
    font-size: 15px;
    margin-bottom: 15px;
}

.tour-places .day-time {
    margin-bottom: 15px;
    font-size: 15px;
    opacity: 0.6;
}

.tour-places .desc {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.4;
}

.btn {
    display: inline-block;
    padding: 12px 17px;
    background: #000;
    color: #fff;
    text-decoration: none;
    border: none;
    margin-bottom: 16px;
}

.tour-places .place-buy-btn:hover {
    background-color: #ccc;
    color: #000;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    
}

.open {
    display: flex;
}

.modal .modal-container {
    position: relative;
    animation: SlideDown ease 0.4s;
}

.modal .ti-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 17px;
    color: #fff;
    font-size: 18px;
}

.modal .modal-container {
    width: 900px;
    max-width: 100%;
    /* padding: 0 8px; */
    margin: 0 16px;
}

.modal .modal-heading {
    padding: 47px 32px;
    background-color: #009688;
    text-align: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
}

.modal .modal-bag {
    margin-right: 10px;
}

.modal .modal-body {
    background-color: #fff;
    padding: 16px 16px;
}

.modal-label {
    display: block;
    margin-bottom: 15px;
    font-size: 15px;
}

.modal .modal-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 24px;
    border: 1px solid #ccc;
}

.modal .modal-btn-tickets {
    width: 100%;
    padding: 18px;
    margin-bottom: 16px;
    background-color: #009688;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

.modal .footer {
    background-color: #fff;
    padding: 0 16px 16px;
    
}

.modal .footer-content {
    margin-bottom: 16px;
    text-align: right;
    font-size: 15px;
}

.footer-content a {
    color: #2196F3;
}

.modal .ti-close:hover,
.modal .modal-btn-tickets:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

@keyframes SlideDown{
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ConTact */

.content-section .contact-content {
    padding-bottom: 32px;
}

.content-section .contact-infor {
    font-size: 18px;
    line-height: 1.5;
}

.contact-infor i[class *="ti-"] {
    width: 30px;
    display: inline-block;
}

.content-section .contact-form {
    font-size: 15px;
}
.contact-form .form-Mersenger,
.contact-form  .form-control {
    width: 100%;
    padding: 11px;
    border: 1px solid #ccc;
}

.contact-infor a {
    color: #0000f1;
    opacity: 0.7;
}

.contact-infor a:hover {
    color: #0000f1;
    opacity: 1;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.map-section .map-img {
    width: 100%;
}

/* End ConTact */
/* Begin Footer */
#footer {
    text-align: center;
    padding: 64px 16px;
    opacity: 0.6;
    background-color: #f1f1f1
}

#footer .footer-icon a{
    color: #000;
    font-size: 24px;
    text-decoration: none;
}

#footer .footer-icon a:hover {
    opacity: 0.4;
}

#footer .copy-right {
    margin: 32px 0;
    color: #000;
}

#footer .copy-right a {
    color: #000;
}
/* End Footer */
